@import "../../scss/variables";
@import "../../scss/mixins";

.Person {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all .4s;

}

.Prev {
  opacity: 0;
  transform: translateX(-100%);
}

.Curr {
  opacity: 1;
  transform: translateX(0);
}

.Next {
  opacity: 0;
  transform: translateX(100%);
}

.PersonImage {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 50%;
  border: 0.3rem solid $color-grey-3;
  box-shadow: $dark-shadow;

  @include respond(tab-land) {
    width: 18rem;
    height: 18rem;
  }
}

.PersonName {
  text-transform: uppercase;
  color: $color-brown;
  font-weight: 800;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  margin-top: 2rem;
}

.PersonTitle {
  text-transform: capitalize;
  color: $color-grey-1;
  font-weight: 400;
  font-size: 1.6rem;
}

.PersonQuote {
  padding: 3rem 5rem;
  line-height: 1.6;
}